# DeepSeek API 配置
# 获取地址：https://platform.deepseek.com/api_keys
DEEPSEEK_API_KEY=你的DeepSeek_API_Key
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1

# JDoodle API 配置
# 获取地址：https://www.jdoodle.com/ 注册后在 API Dashboard 获取
JDOODLE_CLIENT_ID=你的JDoodle_Client_ID
JDOODLE_CLIENT_SECRET=你的JDoodle_Client_Secret
